@font-face {
    font-family: "holo-icon"; /* Project id 2351936 */
    src: url('//at.alicdn.com/t/font_2351936_7s5l6mfkw2n.woff2?t=1639120681415') format('woff2'),
    url('//at.alicdn.com/t/font_2351936_7s5l6mfkw2n.woff?t=1639120681415') format('woff'),
    url('//at.alicdn.com/t/font_2351936_7s5l6mfkw2n.ttf?t=1639120681415') format('truetype');
}

.holo-icon {
    font-family: "holo-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.o-back:before {
    content: "\e62b";
}

.o-picture:before {
    content: "\e62a";
}

.o-right:before {
    content: "\e629";
}

.o-plus:before {
    content: "\e628";
}

.o-share:before {
    content: "\e624";
}

.o-wechat:before {
    content: "\e618";
}

.o-moments:before {
    content: "\e617";
}

.o-cross:before {
    content: "\e613";
}

.o-train:before {
    content: "\e614";
}

.o-close-filled:before {
    content: "\e609";
}

.o-jump:before {
    content: "\e60a";
}

.o-switch-on:before {
    content: "\e60f";
}

.o-tick:before {
    content: "\e610";
}

.o-check-filled:before {
    content: "\e611";
}

.o-loading-circle:before {
    content: "\e612";
}

.o-switch-off:before {
    content: "\e615";
}

.o-loading-dot:before {
    content: "\e7f1";
}

.o-refresh:before {
    content: "\e650";
}

.o-check:before {
    content: "\e652";
}

.o-close:before {
    content: "\e653";
}

.o-forbidden:before {
    content: "\e655";
}

.o-forbidden-filled:before {
    content: "\e656";
}

.o-info-filled:before {
    content: "\e657";
}

.o-info:before {
    content: "\e65c";
}

.o-help-filled:before {
    content: "\e65d";
}

.o-help:before {
    content: "\e65e";
}

.o-caution:before {
    content: "\e65f";
}

.o-caution-filled:before {
    content: "\e660";
}

.o-arrow-up:before {
    content: "\e658";
}

.o-arrow-left:before {
    content: "\e659";
}

.o-arrow-down:before {
    content: "\e65a";
}

.o-arrow-right:before {
    content: "\e65b";
}

.o-triangle-left:before {
    content: "\e661";
}

.o-triangle-right:before {
    content: "\e662";
}

.o-triangle-up:before {
    content: "\e663";
}

.o-triangle-down:before {
    content: "\e664";
}

.o-dots:before {
    content: "\e727";
}
