.display-flex {
  display: flex; flex-direction: row; justify-content: center; align-items: center;
}
.display-flex>.flex1 { flex: 1 }
.component_iframe {
  position: fixed; right: 20px; top: 50px; z-index: 999999;
  width: 420px; max-height: 1000px; min-height: 700px;
  background: #ffffff;
}
.component_iframe>iframe {
  width: 100%;
  max-height: 1000px; min-height: 600px;
  border: none;
}